@import url('https://fonts.google.com/specimen/Rubik');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    scroll-behavior: smooth;
}

body{
    width: 99vw;
    height: 100vh;
}

/* header */
header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
}

/* logo */
.logo{
    z-index: 100;
}

.logo-img{
    width: 150px;
}

/* header menu */
.menu{
    display: flex;
    align-items: center;
    gap: 30px;
}

.list{
    list-style: none;
    font-weight: 500;
    display: flex;
    gap: 40px;
}

.list-item{
    cursor: pointer;
    padding: 5px;
}

.list-link{
    text-decoration: none;
    color: black;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 15px;
    transition: color .2s;
}

.list-link:hover{
    color:hsl(0, 94%, 66%);
}

/* header btn */
.menu-btn{
    padding: 10px 30px;
    background-color: hsl(0, 94%, 66%);
    color: white;
    border: 2px solid transparent;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 0 10px hsl(0, 94%, 66%);
    display: inline-block;
}

.menu-btn:hover{
    color:hsl(0, 94%, 66%);
    border: 2px solid hsl(0, 94%, 66%);
    background-color: transparent;
    box-shadow: none;
}

.toggler-icon-mobile, .menu-mobile, .close-icon-mobile{
    display: none;
}

/* hero section */
.hero-section{
    width: 100%;
    height: 80vh;
    display: flex;
    margin-top: 50px;
}

/* hero text part */
.hero-text{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 40px;
    padding: 80px 0 0 100px;
}

.hero-title{
    font-size: 50px;
    font-weight: bold;
}

.hero-subtitle{
    width: 80%;
    font-size: 20px;
    color: hsl(0, 0%, 59%);
    line-height: 1.5;
}

.hero-btns{
    display: flex;
    gap: 20px;
    width: 100%;
    height: 50px;
}

.hero-btn{
    padding: 15px 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 15px;
}

.hero-btn:first-child{
    background-color: hsl(231, 69%, 60%);
    color: white;
    box-shadow: 0 0 10px hsl(231, 69%, 60%);
    display: inline-block;
    border: 2px solid transparent;
    transition: background-color 0.1s,
                border 0.1s,
                color 0.1s,
                box-shadow 0.1s;
}

.hero-btn:first-child:hover{
    background-color: transparent;
    border: 2px solid hsl(231, 69%, 60%);
    color:hsl(231, 69%, 60%);
    box-shadow: none;
}

.hero-btn:last-child{
    color: hsl(231, 69%, 60%);
    box-shadow: 0 0 1px hsl(231, 69%, 60%);
    display: inline-block;
    border: 2px solid transparent;
    transition: background-color 0.1s,
                border 0.1s,
                color 0.1s,
                box-shadow 0.1s;
}

.hero-btn:last-child:hover{
    background-color: transparent;
    border: 2px solid hsl(0, 0%, 59%);
    box-shadow: none;
    color:hsl(0, 1%, 39%);
}

/* hero image part */
.hero-img{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-image{
    width: 80%;
    height: auto;
}

/* features section */
.features-section{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 20px 0;
    margin-bottom: 50px;
}

.features-text{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.features-title{
    font-size: 40px;
    font-weight: bold;
}

.features-subtitle{
    width: 35%;
    text-align: center;
    color: hsl(0, 0%, 59%);
    line-height: 1.5;
}

.features-tabs{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.features-btns{
    display: flex;
    width: 60%;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    border-bottom: 1px solid hsl(0, 2%, 79%);
}

.features-btn:first-child{
    border-bottom: 3px solid hsl(0, 94%, 66%);
}

.features-btn{
    padding: 20px;
    cursor: pointer;
    transition: borderBottom 0.1s,
                color 0.1s;
}

.features-btn:hover{
    border-bottom: 3px solid hsl(0, 94%, 66%);
    color:hsl(0, 94%, 66%);
}

.feature{
    width: 100%;
    height: 65vh;
    display: flex;
    padding: 20px 0;
}

.feature-img{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feature-image{
    width: 60%;
    height: auto;
}

.feature-text{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    padding: 0 100px;
}

.feature-title{
    font-size: 30px;
    font-weight: bold;
}

.feature-subtitle{
    font-size: 18px;
    color: hsl(0, 0%, 59%);
    line-height: 1.5;
}

.feature-btn{
    padding: 15px 30px;
    border: 2px solid transparent;
    cursor: pointer;
    border-radius: 5px;
    font-size: 15px;
    background-color: hsl(231, 69%, 60%);
    color: white;
    box-shadow: 0 0 10px hsl(231, 69%, 60%);
    display: inline-block;
    transition: color 0.1s,
                backgroundColor 0.1s,
                box-shadow 0.1s,
                border 0.1s;
}

.feature-btn:hover{
    background-color: transparent;
    color:hsl(231, 69%, 60%);
    border: 2px solid hsl(231, 69%, 60%);
    box-shadow: none;
}

/* extension section */
.extension-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px 0;
    margin-bottom: 100px;
}

.extensions-title{
    font-size: 40px;
    font-weight: bold;
}

.extensions-subtitle{
    width: 35%;
    text-align: center;
    color: hsl(0, 0%, 59%);
    line-height: 1.5;
}

/* extensions */
.extensions{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}

.extension{
    width: 300px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    box-shadow: 0 0 10px hsl(0, 2%, 79%);
    border-radius: 10px;
}

.extension:nth-child(2){
    margin-top: 50px;
}

.extension:last-child{
    margin-top: 100px;
}

.extension-img{
    width: 35%;
    height: auto;
}

.extension-title{
    font-size: 20px;
    font-weight: bold;
}

.extension-subtitle{
    color: hsl(0, 0%, 59%);
    line-height: 1.5;
    text-align: center;
}

.extension-line-img{
    width: 80%;
    height: auto;
}

.extension-btn{
    padding: 15px 30px;
    border: 2px solid transparent;
    cursor: pointer;
    border-radius: 5px;
    font-size: 15px;
    background-color: hsl(231, 69%, 60%);
    color: white;
    box-shadow: 0 0 10px hsl(231, 69%, 60%);
    display: inline-block;
    transition: color 0.1s,
                backgroundColor 0.1s,
                box-shadow 0.1s,
                border 0.1s;
}

.extension-btn:hover{
    background-color: transparent;
    color:hsl(231, 69%, 60%);
    border: 2px solid hsl(231, 69%, 60%);
    box-shadow: none;
}

/* FAQ section */
.faq-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 20px 0;
    margin-bottom: 50px;
}

.faq-title{
    font-size: 40px;
    font-weight: bold;
}

.faq-subtitle{
    width: 35%;
    text-align: center;
    color: hsl(0, 0%, 59%);
    line-height: 1.5;
}

.accordian{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.accordian-item{
    width: 40%;
    height: auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    border-bottom: 1px solid hsl(0, 2%, 79%);
    flex-wrap: wrap;
}

.accordian-item:first-child{
    border-top: 1px solid hsl(0, 2%, 79%);
}

.accordian-btn{
    font-size: 16px;
    font-weight: bold;
    width: 95%;
    height: 100%;
    text-align: left;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: color 0.1s;
}

.accordian-btn:hover{
    color:hsl(0, 94%, 66%);
}

.accordian-icon{
    width: 5%;
    height: auto;
    background-color: hsl(0, 0%, 59%);
    mask: url('./assets/icon-arrow.svg') no-repeat center;
    transition: transform 0.3s ease;
}

.accordian-box{
    width: 100%;
    height: 0;
    overflow: hidden;
}

.accordian-content{
    width: 100%;
    padding: 20px 0;
    color: hsl(0, 0%, 59%);
    line-height: 1.5;
}

.faq-btn{
    padding: 15px 30px;
    border: 2px solid transparent;
    cursor: pointer;
    border-radius: 5px;
    font-size: 15px;
    background-color: hsl(231, 69%, 60%);
    color: white;
    box-shadow: 0 0 10px hsl(231, 69%, 60%);
    display: inline-block;
    transition: color 0.1s,
                backgroundColor 0.1s,
                box-shadow 0.1s,
                border 0.1s;
}

.faq-btn:hover{
    background-color: transparent;
    color:hsl(231, 69%, 60%);
    border: 2px solid hsl(231, 69%, 60%);
    box-shadow: none;
}

/* subscribe section */
.sub-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 50px 0;
    background-color:hsl(231, 69%, 60%);
}

.sub-info{
    text-transform: uppercase;
    color: white;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
}

.sub-title{
    font-size: 35px;
    font-weight: bold;
    color: white;
    width: 35%;
    text-align: center;
    line-height: 1.5;
}

.sub-container{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.sub-input{
    width: 70%;
    height: 50px;
    padding: 5px 5px 5px 15px;
    border: none;
    outline: none;
    background-color: white;
    font-size: 15px;
    color: black;
    border-radius: 5px;
}

.sub-btn{
    width: 30%;
    height: 50px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 15px;
    background-color: hsl(0, 94%, 66%);
    color: white;
    box-shadow: 0 0 10px hsl(0, 94%, 66%);
    transition: color 0.1s,
                backgroundColor 0.1s,
                border 0.1s,
                box-shadow 0.1;
}

.sub-btn:hover{
    color:hsl(0, 94%, 66%);
    border: 2px solid hsl(0, 94%, 66%);
    background-color: transparent;
    box-shadow: none;
}

/* footer */
footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    background-color:hsla(229, 31%, 21%, 0.975);
}

.footer-logo{
    width: 150px;
}

.footer-image{
    width: 100%;
    height: auto;
}

.footer-menu{
    width: 50%;
    display: flex;
    gap: 30px;
}

.footer-list{
    list-style: none;
    display: flex;
    gap: 30px;
}

.footer-item{
    cursor: pointer;
    padding: 10px;
}

.footer-link{
    text-decoration: none;
    color: white;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 15px;
    transition: color 0.1s;
}

.footer-link:hover{
    color:hsl(0, 94%, 66%);
}

.footer-socials{
    display: flex;
    gap: 50px;
}

.footer-social-icon{
    padding: 10px;
    cursor: pointer;
    font-size: 30px;
    color: white;
    transition: color 0.1s;
}

.footer-social-icon:hover{
    color:hsl(0, 94%, 66%);
}











/* -------------------- */

/* responsiveness for mobile screens */
@media (min-width: 1000px) and (max-width: 1245px){
    /* hero section */
    .hero-section{
        margin-top: 0;
    }

    .hero-title{
        font-size: 40px;
    }

    /* features section */
    .feature-title{
        font-size: 32px;
    }

    .feature-subtitle{
        font-size: 16px;
    }
}

/* --------------------- */












@media (max-width: 1000px){
    /* toggler icon for mobile screens */
    .toggler-icon-mobile{
        width: 40px;
        height: 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        cursor: pointer;
        z-index: 100;
    }

    .toggler-icon{
        width: 100%;
        height: 5px;
        background-color: black;
        position: relative;
    }

    .toggler-icon::after{
        content: '';
        width: 100%;
        height: 5px;
        background-color: black;
        position: absolute;
        top: 10px;
    }

    .toggler-icon::before{
        content: '';
        width: 100%;
        height: 5px;
        background-color: black;
        position: absolute;
        bottom: 10px;
    }

    /* close icon for mobile screens */
    .close-icon-mobile {
        position: absolute; /* Position wherever you want */
        top: 30px;
        right: 40px;
        width: 40px;
        height: 40px;
        cursor: pointer;
        display: none;
        z-index: 100;
    }

    .close-icon-mobile span {
        position: absolute;
        height: 5px;          /* thickness of the line */
        width: 100%;
        background-color: white;
        top: 50%;
        left: 0;
        transform-origin: center;
        transition: transform 0.3s, background-color 0.3s;
    }

    .close-icon-mobile span:first-child {
        transform: rotate(45deg);
    }

    .close-icon-mobile span:last-child {
        transform: rotate(-45deg);
    }

    /* moible menu */
    .menu-mobile{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: hsla(229, 31%, 21%, 0.975);
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        padding: 150px 10% 0 10%;
    }

    .list-mobile{
        width: 100%;
        height: 40%;
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .list-item-mobile{
        width: 100%;
        height: 33.3%;
        text-align: center;
        cursor: pointer;
        padding: 10px;
        border-bottom: 1px solid hsl(0, 0%, 97%);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .list-item-mobile:first-child{
        border-top: 1px solid hsl(0, 0%, 97%);
    }

    .list-link-mobile{
        text-decoration: none;
        color: white;
        font-weight: 500;
        text-transform: uppercase;
        font-size: 20px;
    }

     /* header btn for mobile screens */
     .menu-btn-mobile{
        width: 100%;
        padding: 15px 30px;
        border: 2px solid white;
        background-color: transparent;
        color: white;
        font-size: 25px;
        font-weight: bold;
        cursor: pointer;
        border-radius: 5px;
        margin-top: 30px;
        letter-spacing: 3px;
    }

    /* -------------------- */

    header{
        padding: 40px 40px;
    }

    .menu{
        display: none;
    }

    /* hero section */
    .hero-section{
        width: 100%;
        height: auto;
        margin-top: 0;
        margin-bottom: 80px;
        flex-direction: column;
        align-items: center;
    }

    .hero-img{
        width: 375px;
        height: 50%;
        margin-bottom: 0;
    }

    .hero-image{
        width: 375px;
        height: 100%;
    }

    .hero-text{
        width: 100%;
        height: 50%;
        order: 2;
        align-items: center;
        padding: 20px 0 20px 0;
    }

    .hero-title{
        font-size: 32px;
        text-align: center;
        margin: 0 5px;
    }

    .hero-subtitle{
        font-size: 16px;
        text-align: center;
        max-width: 600px;
    }

    .hero-btns{
        width: 375px;
    }

    /* features section */
    .features-section{
        height: auto;
    }

    .features-title{
        font-size: 32px;
    }

    .features-subtitle{
        width: 80%;
        max-width: 600px;
        font-size: 16px;
    }

    .features-btns{
        flex-direction: column;
        gap: 10px;
        width: 90%;
        margin-bottom: 10px;
    }

    .feature{
        flex-direction: column;
        height: auto;
        padding: 0;
        gap: 20px;
    }

    .feature-img{
        width: 100%;
        padding: 15px 0;
    }

    .feature-text{
        width: 100%;
        padding: 0;
        align-items: center;
    }

    .feature-title{
        font-size: 26px;
    }

    .feature-subtitle{
        font-size: 16px;
        width: 70%;
        text-align: center;
        max-width: 600px;
        margin-bottom: 20px;
    }

    /* extension section */
    .extensions-title{
        font-size: 32px;
        text-align: center;
    }

    .extensions-subtitle{
        width: 70%;
        max-width: 600px;
        margin-bottom: 30px;
    }

    .extension:nth-child(2){
        margin-top: 0;
    }

    .extension:last-child{
        margin-top: 0;
    }

    /* FAQ section */
    .faq-title{
        font-size: 32px;
        text-align: center;
    }

    .faq-subtitle{
        font-size: 16px;
        width: 70%;
        max-width: 600px;
    }

    .accordian-item{
        width: 90%;
    }

    /* subscribe section */
    .sub-title{
        font-size: 28px;
        width: 80%;
    }

    .sub-container{
        flex-direction: column;
        width: 300px;
    }

    .sub-input{
        width: 100%;
    }

    .sub-btn{
        width: 100%;
    }

    /* footer */
    footer{
        padding: 50px 0;
        flex-direction: column;
        gap: 30px;
        align-items: center;
    }

    .footer-menu{
        gap: 0;
    }

    .footer-list{
        width: 100%;
        flex-direction: column;
        align-items: center;
        margin-right: 0;
    }

    .footer-item{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .footer-link{
        font-size: 16px;
        text-align: center;
    }

    .footer-socials{
        gap: 40px;
    }

    
}